@import "tailwindcss";
@import "tw-animate-css";
@import "./tailwind-safe-area.css";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));
  --color-card: hsl(var(--card));
  --color-card-foreground: hsl(var(--card-foreground));
  --color-popover: hsl(var(--popover));
  --color-popover-foreground: hsl(var(--popover-foreground));
  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));
  --color-secondary: hsl(var(--secondary));
  --color-secondary-foreground: hsl(var(--secondary-foreground));
  --color-muted: hsl(var(--muted));
  --color-muted-foreground: var(hsl(--muted-foreground));
  --color-accent: var(hsl(--accent));
  --color-accent-foreground: var(hsl(--accent-foreground));
  --color-destructive: hsl(var(--destructive));
  --color-destructive-foreground: hsl(var(--destructive-foreground));
  --color-border: hsl(var(--border));
  --color-input: hsl(var(--input));
  --color-ring: hsl(var(--ring));
  --color-chart-1: hsl(var(--chart-1));
  --color-chart-2: hsl(var(--chart-2));
  --color-chart-3: hsl(var(--chart-3));
  --color-chart-4: hsl(var(--chart-4));
  --color-chart-5: hsl(var(--chart-5));
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: hsl(var(--sidebar-background));
  --color-sidebar-foreground: hsl(var(--sidebar-foreground));
  --color-sidebar-primary: hsl(var(--sidebar-primary));
  --color-sidebar-primary-foreground: hsl(var(--sidebar-primary-foreground));
  --color-sidebar-accent: hsl(var(--sidebar-accent));
  --color-sidebar-accent-foreground: hsl(var(--sidebar-accent-foreground));
  --color-sidebar-border: hsl(var(--sidebar-border));
  --color-sidebar-ring: hsl(var(--sidebar-ring));

  --color-gradient-noise-top: hsl(var(--gradient-noise-top));
  --color-heading: hsl(var(--color-heading));

  --color-chat-border: hsl(var(--chat-border));
  --color-chat-background: hsl(var(--chat-background));
  --color-chat-accent: hsl(var(--chat-accent));
  --color-chat-input-gradient: hsl(var(--chat-input-gradient));
  --color-chat-input-background: hsla(var(--chat-input-background));
  --color-chat-overlay: hsla(var(--chat-overlay));

  --ease-snappy: cubic-bezier(.2, .4, .1, .95);
}

:root {
  --background: 0 0% 98%;
  --foreground: 0 0% 10%;
  --card: 0 0% 100%;
  --card-foreground: 0 0% 10%;
  --popover: 0 0% 100%;
  --popover-foreground: 0 0% 10%;
  --primary: 145.1 71.4% 40.0%;
  --primary-foreground: 0 0% 100%;
  --secondary: 150 40% 92%;
  --secondary-foreground: 0 0% 10%;
  --muted: 120 10% 90%;
  --muted-foreground: 145 25% 30%;
  --accent: 140 55% 85%;
  --accent-foreground: 0 0% 15%;
  --destructive: 0 65% 50%;
  --destructive-foreground: 0 0% 100%;
  --border: 0 0% 86%;
  --input: 0 0% 92%;
  --ring: 145.1 71.4% 40.0%;
  --chart-1: 184.8 76.0% 46.0%;
  --chart-2: 345.8 58.0% 39.0%;
  --chart-3: 9.8 37.0% 24.0%;
  --chart-4: 216.8 74.0% 56.0%;
  --chart-5: 199.8 87.0% 52.0%;
  --radius: 0.5rem;

  --sidebar-background: 0 0% 96%;
  --sidebar-foreground: 0 0% 10%;
  --sidebar-primary: 145.1 71.4% 40.0%;
  --sidebar-primary-foreground: 0 0% 100%;
  --sidebar-accent: 140 55% 85%;
  --sidebar-accent-foreground: 0 0% 15%;
  --sidebar-border: 0 0% 86%;
  --sidebar-ring: 145.1 71.4% 40.0%;

  --gradient-noise-top: 79.8 15% 95%;
  --color-heading: 119.0 35% 35%;

  --chat-background: 0 0% 98%;
  --chat-border: 0 0% 90%;
  --chat-accent: 140 60% 85%;
  --chat-input-background: 145, 43.9%, 83.9%, 0.7;
  --chat-overlay: 0, 0%, 100%, 0.85;
  --chat-input-gradient: 145.5, 30.3%, 78.6%;
}


.dark {
  --background: 119.8 24.5% 10.4%;
  --foreground: 57.0 20% 97.8%;
  --card: 67.5 15.8% 3.7%;
  --card-foreground: 52.8 4.8% 95.9%;
  --popover: 139.8 23.08% 5.1%;
  --popover-foreground: 143.8 33% 96%;
  --primary: 147.0 100% 32%;
  --primary-foreground: 143.8 85% 90%;
  --secondary: 16.8 15.1% 20.8%;
  --secondary-foreground: 57.0 30% 83%;
  --muted: 95.8 9% 25%;
  --muted-foreground: 143.8 33% 86%;
  --accent: 59.8 20% 27%;
  --accent-foreground: 143.8 33% 96%;
  --destructive: 152.6 74.44% 35.29%;
  --destructive-foreground: 172.8 0% 100%;
  --border: 44.3 10% 15.7%;
  --input: 143.8 20% 15.7%;
  --ring: 145.1 71.4% 50.6%;
  --chart-1: 7.8 70% 50%;
  --chart-2: 317.0 60% 45%;
  --chart-3: 177.8 80% 55%;
  --chart-4: 59.1 65% 60%;
  --chart-5: 127.8 75% 55%;

  --sidebar-background: 27.8 2.6% 7.6%;
  --sidebar-foreground: 52.8 4.8% 95.9%;
  --sidebar-primary: 19.0 76.3% 48%;
  --sidebar-primary-foreground: 0 0% 100%;
  --sidebar-accent: 100.5 20.6% 12.4%;
  --sidebar-accent-foreground: 52.8 4.8% 95.9%;
  --sidebar-border: 172.8 0% 0%;
  --sidebar-ring: 145.1 71.4% 50.6%;

  --gradient-noise-top: 79.8 15% 9%;
  --color-heading: 119.0 45.9% 57.3%;

  --chat-border: 145.1 22% 16.1%;
  --chat-background: 82.8 16.13% 12.16%;
  --chat-accent: 25, 21, 30, .86;

  --chat-input-gradient: 59.8 23% 23%;
  --chat-input-background: 82.8 10% 20% / var(--blur-fallback, 0.4);
  --chat-overlay: 82.8 12% 16% / var(--blur-fallback, 0.71);
}


@utility prose {
  pre {
    @apply m-0 bg-transparent p-0;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  .min-h-pwa,
  body,
  html {
    min-height: calc(100svh + env(safe-area-inset-top))
  }

  body {
    @apply bg-background text-foreground overflow-hidden;
  }

  ::-webkit-scrollbar {
    width: 8px;
    height: 8px
  }

  ::-webkit-scrollbar-thumb {
    background: hsl(var(--muted-foreground)/.4);
    border-radius: 4px;
    border: 1px solid transparent;
    background-clip: content-box;
    -webkit-background-clip: content-box
  }

  .dark ::-webkit-scrollbar-thumb {
    background: hsl(var(--muted-foreground)/.2);
    border-radius: 4px;
    border: 1px solid transparent;
    background-clip: content-box;
    -webkit-background-clip: content-box
  }

  ::-webkit-scrollbar-thumb:hover {
    border: 2px solid transparent;
    background: hsl(var(--muted-foreground)/.5)
  }

  .small-scrollbar::-webkit-scrollbar {
    width: 4px !important;
    height: 4px !important
  }

  .small-scrollbar[data-scrolling=true]::-webkit-scrollbar-thumb {
    background: hsl(var(--muted-foreground)/.4)
  }

  .dark .small-scrollbar[data-scrolling=true]::-webkit-scrollbar-thumb {
    background: hsl(var(--muted-foreground)/.2)
  }

  .small-scrollbar::-webkit-scrollbar-thumb {
    transition: background .2s ease-in-out;
    background: transparent;
    border-radius: 4px;
    border: 1.5px solid transparent;
    background-clip: content-box;
    -webkit-background-clip: content-box
  }

  .small-scrollbar::-webkit-scrollbar-thumb:hover {
    border: 1px solid transparent;
    background: hsl(var(--muted-foreground)/.5)
  }

  /* Styles for sidebar resize */
  body.resizing-sidebar {
    user-select: none;
  }

  .bg-noise {
    background-image: url(/images/noise.png);
    background-size: auto;
    background-repeat: repeat;
    background-size: 96px 96px
  }

  .ease-snappy {
    animation-timing-function: cubic-bezier(.2, .4, .1, .95);
  }

  @supports (-moz-appearance:none) {
    .firefox-scrollbar-margin-fix {
      --firefox-scrollbar: 10px
    }
  }
}